body{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.col-md-6{
    margin-top: 150px !important;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    /* border: 4px solid skyblue !important; */
}
input[type=button]{

    width: 100%;
    background-color: rgb(143, 223, 52);
    color: black;
    font-weight: bolder;
    border: 2px solid blue;
}
input[type=text]{
    width: 100%;
}
h1{
    font-weight: bolder !important;
    margin-top: 15px;
}
table {
    
    border-collapse: collapse;
}

td {
    border: none;
}